
// Colors
$primary-light: #b9cdd1;
$primary-dark: #61868d;
$secondary-light: #9cb4b8;
$secondary-blue: #48c9f0;
$secondary-green: #1fdaab;
$blue-green-gradient: linear-gradient(to right, $secondary-blue, $secondary-green);

// Fonts
$base-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Muli', sans-serif;
$base-font-size: 16px;
$secondary-font-size: 14px;

// Shadow
$box-shadow: 0 1px 3px 1px rgba(0,0,0, 0.1);