@import '../../styles/variables.scss';

.header {
    padding: 12px 0;
    box-shadow: $box-shadow;
}
.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > span {
        margin-left: 40px;;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 800;
        background: $blue-green-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
}

@media (max-width: 768px) {
    .header {
        padding: 8px 0;
        .header__logo {
            > span {
                margin-left: 10px;
                font-size: 16px;
            }
        }
    }
}